// Foundation variables

$half-step: 2px;
$step: 4px;
$double-step: 8px;
$triple-step: 12px;

$border-color: grey;

// Typography size
$typography-size-h1: 24px;
$typography-size-h2: 18px;
$typography-size-body1: 16px;
$typography-size-body2: 14px;
