<div class="frisbee-container">
  <div class="frisbee-container__header">
    <div class="frisbee-container__header-title">{{ frisbee.name }}</div>
    <div class="frisbee-container__header-raiting">
      <ng-container *ngFor="let item of [].constructor(frisbee.rating)">
        <i class="pi pi-star-fill"></i>
      </ng-container>
    </div>
  </div>
  <div class="frisbee-container__description">{{ frisbee.description }}</div>
  <img class="frisbee-container__image" [src]="frisbee.image">
</div>
